°<!DOCTYPE html>
<html lang="es">
<head>
  <title>Restaurante(platos)</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

</head>
<body>


  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-secondary text-light">
        <div class="row">

          <div class="col-md-6">
            <strong>
              Lista de platos
            </strong>
          </div>

          <div class="col-md-6 text-end">
            <button class="btn btn-success btn-sm" id="abrir-modal" data-bs-toggle="modal" data-bs-target="#modalId-registro-cursos">
              <i class="bi bi-patch-plus">
                Agregar Plato
              </i>
            </button>
          </div>
        </div>  <!--  Fin del boton  -->
        

      </div>
      <div class="card-body">

        <!-- Creamos la tabla -->
        <table class="table table-sm table-striped" id="tabla-platos">
          <colgroup>
            <col width="5%">
            <col width="15%">
            <col width="35%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="15%">
            <col width="15%">
          </colgroup>
          
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Nacionalidad</th>
              <th>Precio</th>
              <th>Porciones</th>
              <th>Tiempo preparación</th>
              <th>Operaciones</th>
            </tr>
          </thead>

          <tbody>
            
            <!-- Agregar datos de prueba -->

            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->
          <!-- Fin datos prueva -->
            
          </tbody>

        </table>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-primary btn-sm" id="actualizar">Actualizar Datos</button>
      </div>
    </div>
  </div> <!--  Fin del container  -->




  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


  <script>
    $(document).ready(function (){
      function mostrarPlatos(){
        console.log("hola");
        $.ajax({
          url:'../controllers/platos.controller.php',
          type: 'POST',
          data: {operacion: 'listar'},
          dataType: 'text',
          success: function(result){
            $("#tabla-platos tbody").html(result);
          }
        });
      }

      mostrarPlatos();
    });

  </script>


</body>
</html>
